In [20]:
import json
import pickle , joblib
import pandas as pd
import numpy as np

In [17]:
# Modeling 
#Load file model.pkl
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\model_lin_reg.pkl', 'rb') as file_1:
    model_lin_reg=joblib.load(file_1)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\model_scaler.pkl', 'rb') as file_2:
    model_scaler=joblib.load(file_2)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\model_encoder_ord.pkl', 'rb') as file_3:
    model_encoder_ord=joblib.load(file_3)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\model_encoder_ohe.pkl', 'rb') as file_4:
    model_encoder_ohe=joblib.load(file_4)


with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\list_num_cols.txt', 'r') as file_5:
    list_num_cols=json.load(file_5)
with open('C:\\Users\\maddi\\OneDrive\\Documents\\batch19\\gc1p1\\list_cat_cols.txt', 'r') as file_6:
    list_cat_cols=json.load(file_6)

In [39]:
df_inf1=pd.read_csv('inference.csv')
df_inf1

   Unnamed: 0 cab_type     name  distance  surge_multiplier short_summary
0           0     Lyft  Reguler      0.44               1.0        Cloudy
1           1     Lyft   Medium      0.44               1.0          Rain
2           2     Uber   Medium      5.00               1.0        Cloudy

In [41]:
df_inf=df_inf1.drop(['Unnamed: 0'] , axis=1)
df_inf

  cab_type     name  distance  surge_multiplier short_summary
0     Lyft  Reguler      0.44               1.0        Cloudy
1     Lyft   Medium      0.44               1.0          Rain
2     Uber   Medium      5.00               1.0        Cloudy

In [42]:
df_inf['name'] = np.where(df_inf['name'].str.contains('Black'), 'VIP', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('Black SUV'), 'VIP', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('Lux Black XL'), 'VIP', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('Lux Black'), 'VIP', df_inf['name'])

In [43]:
# Medium
df_inf['name'] = np.where(df_inf['name'].str.contains('Lyft XL'), 'Medium', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('Lux'), 'Medium', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('UberXL'), 'Medium', df_inf['name'])

In [44]:
# Reguler
df_inf['name'] = np.where(df_inf['name'].str.contains('Shared'), 'Reguler', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('Lyft'), 'Reguler', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('UberX'), 'Reguler', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('WAV'), 'Reguler', df_inf['name'])
df_inf['name'] = np.where(df_inf['name'].str.contains('UberPool'), 'Reguler', df_inf['name'])

In [45]:
#Handling cardinality kolom short_summart menjadi 4 catagory

# Cloudy
df_inf['short_summary'] = np.where(df_inf['short_summary'].str.contains('Cloudy'), 'Cloudy', df_inf['short_summary'])
df_inf['short_summary'] = np.where(df_inf['short_summary'].str.contains('Overcast'), 'Cloudy', df_inf['short_summary'])

# Rain
df_inf['short_summary'] = np.where(df_inf['short_summary'].str.contains('Rain'), 'Rain', df_inf['short_summary'])
df_inf['short_summary'] = np.where(df_inf['short_summary'].str.contains('Drizzle'), 'Rain', df_inf['short_summary'])

In [46]:
df_inf

  cab_type     name  distance  surge_multiplier short_summary
0     Lyft  Reguler      0.44               1.0        Cloudy
1     Lyft   Medium      0.44               1.0          Rain
2     Uber   Medium      5.00               1.0        Cloudy

In [48]:
#Split num colums
data_inf_num = df_inf[['distance', 'surge_multiplier']]
data_inf_num

   distance  surge_multiplier
0      0.44               1.0
1      0.44               1.0
2      5.00               1.0

In [49]:
#Split Cat colums
data_inf_cat_ord=df_inf[['name', 'short_summary']]
data_inf_cat_ord

      name short_summary
0  Reguler        Cloudy
1   Medium          Rain
2   Medium        Cloudy

In [50]:
data_inf_cat_ohe=df_inf[['cab_type']]
data_inf_cat_ohe

  cab_type
0     Lyft
1     Lyft
2     Uber

In [51]:
data_inf_num_scaled=model_scaler.transform(data_inf_num)
data_inf_cat_ord=model_encoder_ord.transform(data_inf_cat_ord)
data_inf_cat_ohe=model_encoder_ohe.transform(data_inf_cat_ohe)
data_inf_final=np.concatenate([data_inf_num_scaled, data_inf_cat_ord, data_inf_cat_ohe] , axis=1)

In [52]:
data_inf_final

array([[0.05357143, 0.        , 0.        , 1.        , 1.        ,
        0.        ],
       [0.05357143, 0.        , 1.        , 2.        , 1.        ,
        0.        ],
       [0.63520408, 0.        , 1.        , 1.        , 0.        ,
        1.        ]])

In [53]:
model_lin_reg.predict(data_inf_final)

c:\Users\maddi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24.80931493, 24.80931493, 45.74459623])

In [55]:

print('Intercept : ', model_lin_reg.intercept_)
print('Slope : ', model_lin_reg.coef_[0])

Intercept :  2.2300259956326585
Slope :  8.727575742269794

1. Sebutkan dan jelaskan asumsi yang dipakai oleh Linear Regression !
    * Linear Regression adalah suatu algoritma yang digunakan untuk memprediksi data yang bersifat regresi, karena kita akan memprediksi data `price` yang bertipe numerikal maka `Linear Regression` adalah algortima yang tepat

2. Tunjukkan dan tafsirkan arti dari slope dan intercept yang didapat dari model yang telah Anda bangun !
    * intercept sebesar 2,23 merepresentasikan nilai prediksi y ketika x sama dengan nol, dan slope sebesar 8,73 merepresentasikan laju perubahan nilai prediksi y untuk setiap perubahan satu unit di x.