In [1]:
import json
import pickle
import joblib
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

# 10. Model Inferences

In [2]:
with open('pipeline.pkl','rb') as file_1:
    final_pipeline=pickle.load(file_1)

model_ann = load_model('model.h5')

In [3]:

data = pd.read_csv('churn.csv')
df_inf = data.sample(n = 5)
df_inf = df_inf.drop(['churn_risk_score'], axis=1)
df_inf

,user_id,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
28891,9fbf5e48b7058d3e,59,F,City,No Membership,2017-02-04,No,Credit/Debit Card Offers,Smartphone,Mobile_Data,...,16,233.530000,8828.83,22.0,518.310000,Yes,No,No,Not Applicable,Too many ads
30508,b8684f8749965a6b,58,M,City,Gold Membership,2016-03-17,NaN,Credit/Debit Card Offers,NaN,Mobile_Data,...,5,462.400000,1308.83,8.0,728.720000,No,Yes,No,Not Applicable,Poor Website
33795,b5c7314e281d4fcd,63,M,City,Basic Membership,2017-03-11,No,Without Offers,Desktop,Mobile_Data,...,5,1021.597764,47305.90,0.0,245.374603,No,Yes,No,Not Applicable,No reason specified
26186,b62c79d80e9b4b8c,36,M,Town,Basic Membership,2015-10-19,No,Without Offers,NaN,Mobile_Data,...,11,129.620000,3709.77,28.0,300.619849,Yes,No,No,Not Applicable,Poor Product Quality
19766,b2d753fab1593d08,39,F,City,Gold Membership,2017-12-12,Yes,Gift Vouchers/Coupons,NaN,Mobile_Data,...,9,1772.747383,22407.75,0.0,0.000000,Yes,No,Yes,No Information Available,Reasonable Price

In [4]:
data_pipeline = final_pipeline.transform(df_inf)

In [5]:
y_pred_inf = model_ann.predict(data_pipeline)

1/1 [==============================] - 1s 935ms/step

In [6]:
y_pred_inf

array([[9.6863103e-01],
       [2.2106358e-01],
       [9.2700458e-01],
       [9.0581787e-01],
       [6.1255135e-04]], dtype=float32)

In [7]:
y_pred_inf = np.where(y_pred_inf >=0.5, 1, 0)

In [8]:
y_pred_inf

array([[1],
       [0],
       [1],
       [1],
       [0]])